{% extends 'base.html.twig' %}

{% block title %}Episode{% endblock %}

{% block body %}
    <h1>Episode</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ episode.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ episode.title }}</td>
            </tr>
            <tr>
                <th>Number</th>
                <td>{{ episode.number }}</td>
            </tr>
            <tr>
                <th>Synopsis</th>
                <td>{{ episode.synopsis }}</td>
            </tr>
        </tbody>
    </table>
    {% if comments is not empty %}
    <h2>Commentaires</h2>
    <ul>
        {% for comment in comments %}
            <li>
                {{ comment.rate }} / 5 
                <p> {{ comment.comment }} </p>
                <p>Par {{ comment.author.email }} le {{ comment.createdAt|date('d/m/Y H:i') }}</p>
                {% if is_granted('ROLE_ADMIN') %}
                    {# Afficher le bouton de suppression pour les administrateurs pour tous les commentaires #}
                    <a href="{{ path('comment_delete', {'id': comment.id}) }}">Supprimer</a>
                {% elseif is_granted('ROLE_CONTRIBUTOR') and comment.author == app.user %}
                    {# Afficher le bouton de suppression pour les contributeurs uniquement s'ils sont auteurs du commentaire #}
                    <a href="{{ path('comment_delete', {'id': comment.id}) }}">Supprimer</a>
                {% endif %}
                {{ dump(comment.author)}}
                {{ dump(app.user)}}
            </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% if app.user %}
    {{ form_start(form) }}
    <div class="d-flex flex-column">
        <div class="mb-3">
            {{ form_row(form.rate) }}
        </div>
        <div class="mb-3">
            <label for="comment" class="form-label">Votre commentaire</label>
           {{ form_row(form.comment) }}
        </div>
        <button type="submit" class="btn btn-primary">Ajouter un commentaire</button>
    </div>
    {{ form_end(form) }}
{% else %}
    <p>Connectez-vous pour ajouter un commentaire.</p>
{% endif %}
    <a href="{{ path('app_episode_index') }}">back to list</a>
    
    {% if app.user and 'ROLE_ADMIN' in app.user.roles %}
   
    <a href="{{ path('app_episode_edit', {'id': episode.id}) }}">edit</a>

    {% endif %}
   
{% endblock %}
