{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ program.title }} - Saison {{ season.number }}</h1>

    <h2>Épisodes</h2>
    <ul>
        {% for episode in season.episodes %}
            <li>
             <a href="{{ path('program_episode_show', {"program":program.id, "season": season.id, "episode": episode.id }) }}">
                {{ episode.number }} - {{ episode.title }}
            </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}